/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.templates {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.templates a {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #3D7EB8;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  color: #3D7EB8;
  display: block;
  margin: 12px;
  padding: 8px 12px;
  text-decoration: none;
  transition: color, background-color 300ms ease;
}

.templates a:hover {
  background-color: #3D7EB8;
  color: #ffffff;
}

.templates__header {
  background-color: #5893C7;
  border-bottom: 1px solid #3D7EB8;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.templates__header div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  min-height: 60px;
  width: 100%;
}

.templates__header div h1 {
  margin: 6px 0;
  padding: 0 24px;
}

.templates__content {
  display: flex;
  justify-content: center;
}

.templates__content div {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
}
